.scroll-container {
  color: $scroll-color;
  display: flex;
  font-family: $scroll-font;
  height: 47rem;
  justify-content: center;
  margin-top: 1.2rem;
  perspective: 12.3rem;
}

.crawl {
  position: relative;
  transform-origin: 50% 100%;
  animation: scroll 70s;
  animation-iteration-count: 1;
}

.text {
  font-size: 3.5rem;
}

.scroll-title {
  font-size: 5.5rem;
}

@keyframes scroll {
  0% {
      top: 0;
      transform: rotateX(20deg) translateZ(0);
  }
  100% {
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
  }
}