.people-info-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.people-display-info {
  border: .1rem solid $card-border-color;
  border-radius: .3rem;
  color: $people-text;
  display: flex;
  flex-direction: column;
  height: 20rem;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1rem;
  width: 10.8rem;
  &:hover {
    box-shadow: .3rem .3rem .3rem $card-shadow;
  }
}

.people-name {
  font-size: 1.8rem;
  color: $people-name-color;
  margin: .7rem;
  padding: 1rem;
}

.people-name, 
.species,
.homeworld,
.population {
  font-family: $people-name-font;
  letter-spacing: .1rem;
}

.species {
  font-size: 1.3rem;
  margin-top: 0rem;
}

.homeworld {
  font-size: 1rem;
  margin-top: 0rem;
}

.fave {
  background-color: transparent;
  border: .1rem solid $card-fave-color;
  border-radius: .2rem;
  color: $btn-fave-text;
  font-family: $card-fave-font;
  font-size: 1rem;
  height: 2rem;
  letter-spacing: .1rem;
  padding: .3rem;
  width: 8rem;
  margin-left: 1rem;
  cursor: pointer;
  &:hover {
    background-color: $btn-fave-hover;
  }
}