.people-info {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.people-display-info {
  border: .1rem solid white;
  color: $people-text;
  display: flex;
  flex-direction: column;
  height: 27rem;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1rem;
  width: 10.8rem;
}

.people-name {
  font-size: 1.8rem;
  margin: .7rem;
  padding: 1rem;
}

.people-name, 
.people-species,
.homeworld,
.population {
  font-family: $people-name-font;
  letter-spacing: .1rem;
}

.people-species {
  font-size: 1.3rem;
  margin-top: 0rem;
}

.homeworld {
  font-size: 1rem;
  margin-top: 0rem;
}