.btn {
  background-color: $controls-btn-color;
  border-radius: .6rem;
  color: $controls-btn-text-color;
  cursor: pointer;
  font-size: .9rem;
  height: 500%;
  margin: .7rem;
  padding: .5rem;
  width: 6rem;
}