.button-container {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: $controls-btn-color;
  border-radius: .6rem;
  color: $controls-btn-text-color;
  cursor: pointer;
  font-family: $button-font;
  font-size: 1.1rem;
  height: 500%;
  letter-spacing: .1rem;
  margin: .7rem;
  padding: .6rem;
  text-align: center;
  width: 6rem;
}

.people-loader {
  color: $loader-color;
  font-family: $loader-font;
  font-size: 2rem;
  letter-spacing: .1rem;
}