@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

$title-font: 'Orbitron', sans-serif;
$scroll-font: 'Pathway Gothic One', sans-serif;

$title-color: hsl(0, 0%, 100%);
$scroll-color: hsl(48, 99%, 64%);
$fave-btn-color: hsl(246, 73%, 20%);
$fave-text-color: hsl(0, 0%, 100%);
$controls-btn-color: hsl(245, 43%, 29%);
$controls-btn-text-color: hsl(0, 0%, 100%);